resources/*
!resources/plugins/
resources/plugins/*
!resources/plugins/README.txt
!resources/overlays/
resources/overlays/*
!resources/overlays/README.txt
.idea
btsync-media.env 
btsync-db.env 
geoserver-data
auth/cwm-gs-plugin-assembly-distribution-2.0.0.1-distribution.zip
